<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Crowdfunding platform</title>
    <style>
        .platform-title{
            text-align: center;
        }
        .menu-list {
            text-align: center;
            background-color: #eaeaea;
            padding: 10px;
            margin-bottom: 30px;
        }
        .menu-list .menu-item {
            margin: 0 10px;
        }
        .menu-list .menu-item:active {
            color: red;
        }
        .sys-info {
            text-align: center;
        }
    </style>
</head>
<body>
<h1 class="platform-title">Crowdfunding platform</h1>
<!-- menu list -->
<div class="menu-list">
    <a class="menu-item" href="./welcome.html">Home Page</a>
    <a class="menu-item" href="./search.html">Search Page</a>
</div>
<!-- sys-info -->
<div class="sys-info">
    It's a crowdfunding platform for non-profit organizations
</div>
</body>
</html>